/* You can add global styles to this file, and also import other style files */

/* IMPORTANDO FONTS PARA SEU PROJETO, APARTIR DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* DEIXANDO A MARGIN E PADDING DE SEU WINDOW ZERADO */
* {
    padding: 0;
    margin: 0;

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA SEU PROJETO */
html {
    scroll-behavior: smooth;

}

html, body {
    height: 100%;

    font-family: 'Titillium Web', sans-serif;

    background-color: var(--background-page) !important;

    --text-valor: #262626;

    --color-text-gray: #8e8e8e;
    --color-text-gray-ligth: #dbdbdb;

    --border-color: #262626;

}
